/* top page css */
.top-bar {
    background-color: #e6e7e8;
    height: 10em;
    padding: 3em;
    
}
a:link {
    color: black;
}
a:hover {
    color: blue;
}
.banner {
    width: 100%;
    height: auto;
}
/*section bit */

.row {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}
p.section-title {
    font-size: 1.3em;
    color: dimgrey;
}
p.section-articles {
    font-size: .9em;
    
}
/*special offers section*/



/* button *************/
.badge {
  display: inline-block;
  padding: 0.3em;
  min-width: 2.1em;
  font-size: 0.6rem;
  text-align: center;
  border-radius: 50%;
}
 .badge.offer {
    background: #3adb76;
    color: #fefefe;  
}
.button.offer {
    background-color: #3adb76;
    color: #fefefe;
    margin-left: 43%;
}
.button.offer:hover, .button.offer:focus {
      background-color: #22bb5b;
      color: #fefefe; }
 .button.hollow.offer {
      border: 1px solid #3adb76;
      color: #3adb76; }
      .button.hollow.offer:hover,
        .button.hollow.offer:focus {
        border-color: #157539;
        color: #157539; }

/* end of single buttont ***************/


/* speicial offer responsive images *//

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.wrapper {
    background-color: #e6e7e8;
    padding-top: 2%;
    margin-left: 16%;
    margin-right: 16%;
    width: 70%;
    
    margin-top: 2%;
}
.responsive {
    
    margin-left: 6%;
}
p.special-offers {
    font-size: 1.3em;
    color: dimgrey;
    margin-left: 40%;
}

/*end of special offer section *wup wup*///////////

div.img-2 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img-2:hover {
    border: 1px solid #777;
}

div.img-2 img {
    width: 10%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


/*footer*/
.footer-color {
    background-color: #bbbdbf;
    height: vh;
    padding: 3em;
    margin-top: 2em;
    
}
p.address {
    color: white;
    font-size: 1.7vh;
    margin-top: -1%;
}
p.phone-number {
    color: white;
    float: right;
    
    padding-left: 20%;
    margin-top: -5%;
    font-size: 3vh;
}
p.email {
    color: white;
    float: right;
    padding-left: 20%;
    margin-left: 10%;
    margin-top: auto;
    font-size: 3vh;
}


a.link1 {
    color: white;
    
    
}
a.link1:hover {
    color: black;
}

li {
    display: inline-block;
    font-size: .9em;
    
}
.social {
    
    width: auto;
    height: auto;
}
/*footer end */
.wrapper2 {
    
    padding-top: 2%;
    margin-left: 16%;
    margin-right: 16%;
    width: 70%;
    
    margin-top: 2%;
}

.responsive-2 {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive-2 {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive-2 {
        width: 100%;
    }
}
